
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px; 
    color:  #555555;
    background-color:rgb(249, 227, 219);
}
li{
    font-size: 14px;
    font-style: italic; 
    font-weight: normal;
}
a{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    
}

a:visited{
color: rgb(100, 99, 99);

}

.resumeListHeading{
        font-weight: bold;
        font-style: normal;
}

.bold{font-weight: bold;}

.justify{text-align:justify;}



